<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.junpu.provider">

    <permission android:name="com.junpu.PROVIDER_READ" android:protectionLevel="normal"/>
    <permission android:name="com.junpu.PROVIDER_WRITE" android:protectionLevel="normal"/>

    <application>
        <provider
                android:authorities="com.junpu.provider"
                android:name=".MyProvider"
                android:exported="true"
                android:readPermission="com.junpu.PROVIDER_READ"
                android:writePermission="com.junpu.PROVIDER_WRITE"/>
    </application>
</manifest>
